* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.content {
  text-align: center;
  color: white;
  font-size: 24px;
}

.calculator {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

#display {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  text-align: center;
  color: rgb(112, 243, 112);
  background-color: #585758;
}

.buttons button {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  margin: 5px;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(76, 74, 74, 1) 8%,
    rgba(92, 89, 89, 1) 47%,
    rgba(38, 37, 37, 1) 100%
  );
}

.bubble-button:active {
  transform: scale(0.8);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.buttons button:hover {
  transition: 0.6s;
  background: linear-gradient(
    0deg,
    rgba(54, 155, 54, 0.644) 9%,
    rgba(86, 241, 9, 0.671) 47%,
    rgba(51, 156, 45, 0.678) 100%
  );
  box-shadow: 1px 1px 10px 2px rgb(55, 243, 155);
}

.caixa-de-botoes {
  margin-bottom: 60px;
}

.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #07fd59;
  padding-bottom: 20px;
  font-size: 1.2rem;
}
